body {
    margin: 0;
    padding: 0;
    color: #333;
    font: normal 16px Roboto, Helvetica, sans-serif;
    background: #EFEFEF;
}

#logo .site-name {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

h1 {
    font-size: 22px;
    line-height: 30px;
}

h1 a.new {
    font-size: 15px;
    display: inline-block;
    margin: 0 10px;
    line-height: 30px;
}

.wrap {
    padding: 20px;

}

.wrap:after {
    content: " ";
    display: table;
    clear: both;
}

#page {
    background: white;
    border: 1px solid #C9E0ED;
    width: 1200px;
    margin: 5px auto;

}
#page h1{
    margin-bottom: 30px;
    font-size: 30px;


}
#header {
    margin: 0;

    padding: 20px 0;
    border-top: 3px solid #C9E0ED;

}

#content {

    padding-right: 15px;
    min-height: 400px;
    padding-bottom: 30px;

}

#sidebar {
    padding: 20px 20px 20px 0;
}

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo {
    padding: 10px 20px;
    font-size: 200%;
}

#logo b {
    color: #33a;
    font-size: inherit;
    font-weight: normal;
}
#logo a{
    font-size: inherit;
}

#mainmenu {
    background: #eef5f7 repeat-x left top;
    height: 50px;
    margin-bottom: 30px;

}

#mainmenu ul {

    padding: 0px 20px;
    margin: 0px;
    height: 50px;
}

#mainmenu ul li {

    display: inline-block;
    line-height: 50px;

}

#mainmenu ul li a {

    color: #00a;
    background-color: transparent;
    font-size: 15px;
    text-decoration: none;
    padding: 0px 8px;
    line-height: 50px;
    display: inline-block;

}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #6399cd;

    background-color: white;
    text-decoration: none;
    line-height: 50px;

}

div.flash-error, div.flash-notice, div.flash-success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

div.flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

div.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

div.flash-error a {
    color: #8a1f11;
}

div.flash-notice a {
    color: #514721;
}

div.flash-success a {
    color: #264409;
}

div.form .rememberMe label {
    display: inline;
}

div.view {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs {
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span {
    font-weight: bold;
}

div.search-form {
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet {

}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content {
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 20px!important;
    background: #feFDFF;
}

.portlet-content ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
}

.portlet-content li {
    padding: 2px 0 4px 0px;
    display: table-row;
}

.portlet-content li b, .portlet-content li  span{
    display: table-cell;
    padding-bottom: 8px;
    font-size: 16px;

}
.portlet-content li b {
    color: #666;
    font-weight: 400;
    padding-right: 10px;

}
.operations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li {
    padding-bottom: 2px;
}

.operations li a {
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited {
    color: #0066A4;
}

.operations li a:hover {
    background: #80CFFF;

}

.col-80, .col-20 {
    float: left;
}

.col-80 {
    width: 80%;

}

.col-20 {
    width: 20%;
}

.section {
    display: inline-block;
    min-height: 104px;
    width: 220px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    margin-right: 10px;
}

.section.active {
    opacity: 0.5;
}

.section h1, .card .section h1 {
    padding: 5px;
    margin-bottom: 0;
    font-size: 16px;
}

.section .img {
    position: relative;
}

.section .img {
    height: 110px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 0 !important;
}

.section .img img {
    height: 100%;
}

.section .img .edit {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: white;
    box-sizing: border-box;
    padding: 4px;
    display: block;
    z-index: 50;
    background: white url('../images/edit-pencil.png') no-repeat center;

}

#img img, #msgImg img {
    height: 100%;
    width: auto;

}

.grid-view .img {
    width: 100px;
}

.grid-view .img img {
    height: 100px;
}

.card {
    padding: 10px 20px 30px;
    border: 1px solid #ccc;
    margin-bottom: 40px;

}
.card::after{
    content: " ";
    clear: both;
    display: table;
}

.card label {
    color: #666;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
}

.card label a {
    font-size: 16px;
}

.card h1 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card ul {
    list-style: none;
}
.card .table td, #page .table td{
    font-size: 16px;
}
h1 .btn {
    margin-left: 20px;
}
h1 a{
    font-size: inherit;
}
h1 .status{
    display: inline-block;
    margin-left: 20px;
    border-radius: 15px;
    background: #0e90d2;
    padding: 0px 10px;
    line-height: inherit;
    color: white;
}

.card div.form-group {
    margin-bottom: 30px;
    font-size: 16px;
    color: black;
}

.card div.form-group .form-control {
    font-size: 16px;
    color: black;
}

.card div.qq-upload-button {
    color: white;
}

.card .btn {
    font-size: 14px;
}

.city-list {
    list-style: none;
    padding-left: 0;
}

.city-list li {
    display: inline-block;

}

.city-list li {
    display: inline-block;
    padding: 5px 15px 5px 0;
    font-size: 16px;
    font-weight: normal;
}

.photo {
    width: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.photo-square-small {
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}

.photo .inner-dot {
    height: 100%;
    width: 100%;
    border: 1px dashed gray;
    position: relative;
    background: white;
}
img{
    width: 100%;
    height: auto;
}
.photo img {
    border: 1px solid #ccc;
}

.photo img.img-fluid {
    border: none;
}

.photo .inner-dot > a {
    color: gray;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 250px;
    display: inline-block;
}

.team {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;

}

.article-clean ul.team {
    margin-left: 0px;
    margin-bottom: 10px;
}

.article-clean ul.team li {
    padding-left: 0;
    width: 50%;
    height: auto;
    margin-right: -0.3em;
    margin-bottom: 0px;
}

.team li {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.team-edit li .photo {
    display: inline-block;
    height: 222px;
    width: 167px;
    margin-bottom: 10px;

}

.team li .photo {
    background: #ccc;
    border: none;

}

.team li .photo img {
    background: #ccc;
    border: none;
}

.team li .caption p {
    margin-bottom: 0;
    color: #333333;
    font-size: 16px;
}

.team li .caption p.role {
    color: #707070;
}

.team-edit .photo .inner-dot > a {
    line-height: 222px;

}

.breadcrumb {
    padding: 8px 15px 8px 0;
    margin-bottom: 20px;
    background-color: white;

}

.site-login {
    padding-top: 50px;

}

.article-photo {
    width: 700px;
    min-height: 300px;
    position: relative;
}

.delete-hover {
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;

}

.delete-hover a {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    border: 1px dotted #333;
    display: block;

    opacity: 0.8;
    color: black;
}

.delete-hover a.delete {
    cursor: pointer;
    background: white;
    color: red;
}

.delete-hover a.edit {
    background: white;
    cursor: pointer;


}

.delete-hover a:hover {
    text-decoration: none;
    opacity: 1;

}

.hint-block {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.btn-outline-success {
    border: 1px solid green;
    color: green;
    text-decoration: none;
}


.left .text {
    float: right;
}
.right .text {
    float: left;
}

.card div.article-content {
    padding-bottom: 20px;
    border-bottom: 1px dotted lightblue;
}

.cms-link {
    position: fixed;
    right: 0;
    top: 80px;
    background: #eee;
    padding: 10px 15px;
    z-index: 40;
}

.cms-link a {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cms-link a:hover {
    text-decoration: none;
    color: #333;
}
.square{
    width: 20px;
    height: 20px;
    position: fixed;
    left: 0;
    top:0;
    z-index: 30;
}
.square a{
    display: block;
}