/*
    Author     : Pavel Chermyanin <p.chermyanin@gmail.com>
*/
.summary{display:none}
table.table-bordered {font-size:13px;background:#fff;border-collapse:collapse;margin:20px 0; width: 100%}
table.table-bordered td{
    font-size:13px;
}
table.table-bordered th{font-size:14px;background:#EFFDFF;padding:5px 3px 5px 7px;vertical-align:middle}
table.table th,
table.table>tbody>tr>td .btn{
    font-size:13px;
}
table.table>tbody>tr>td{
    font-size:13px;
    font-weight:400;height:25px;border-bottom:1px solid #d5dae1;padding:8px 3px 5px 7px; vertical-align: middle;}
table tr.even td{background:#fffdff}
table .filters{border-bottom:1px solid #EFFDFF}
table .filters input{width:90%;line-height:20px; padding: 4px 8px; height: 28px; margin-bottom: 0}
table .filters select {width:90%;line-height:20px; padding: 4px 8px; height: 28px; margin-bottom: 0}
table .button-column{padding:8px 0;width:60px}  table .button-column a{display:inline-block;margin-right:5px}  table .button-column a:last-child{margin-right:0}  .grid-view{padding:0 0 10px}  .grid-view table th{border-top:1px solid #d5dae1;background:#eef5f7;border-width:2px}  .grid-view table th,.grid-view table th a{font-weight:700}  .grid-view table th a{text-decoration:none;border-bottom:1px dashed #999;color:#4b4b4b}  .grid-view table th a:hover{color:#222;border-bottom:1px dashed #222}  .grid-view table th a.asc{color:#696}  .grid-view table th a.desc{color:#966}  .grid-view table th a:hover.asc,.grid-view table th a:hover.desc{color:#555;border-bottom:1px dashed #555}  .grid-view .filters td{padding-left:3px;padding-right:3px;position:relative}  .itams .filters select{height:22px;width:100%}  table .name{width:220px}  table .small{width:60px}  table .numcell{padding-right:5px;width:70px;text-align:right}  table .datecell{width:90px;text-align:center}  table .hidden{overflow:hidden;width:60px}  table .id{width:20px;padding-right:10px;text-align:right}  table .checkbox-column{width:40px;padding:0 2px;text-align:center}  table .big{width:300px}  table.big{width:800px}  div.pager{padding-top:10px;clear:left;text-align:right}
table td.small-cell{width: 60px; text-align: center}
table td.arr a{text-decoration: none;}

table td.big-cell{min-width: 400px;}
table tr.hidden td {color: #888; background: #efefef;}
table.table-bordered>thead>tr>th.action-column{width: 150px;}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
table.table td.img-preview-small{
    width: 100px;
}
table.table td.img-preview{
    width: 180px;
}
table.table td.img-preview img{
    width: 100%;
}
table.table td.img-preview-small img{
    width: 100%;
}

a.btn-link{
    width: 30px;
    height: 30px;

    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    border: 1px dotted #333;
    display: inline-block;
    opacity: 0.8;
    color: black;
    margin: 2px 5px;
    padding: 0;
}
a.delete, a.delete span{

    cursor: pointer;
    background: white;
    color: red;
}
a.edit, a.edit span{
    background: white;
    color: forestgreen;
    cursor: pointer;
}
a.delete:hover, a.delete:hover span{

    color: forestgreen;
}
a.edit:hover, a.edit:hover span{

    color: forestgreen;
}
a.btn-link:hover{
    text-decoration: none;
    opacity: 1;
    border: 1px solid #666;
    background: white;
}
a.btn-link:hover span{
    color: inherit;
}