* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
ol,
ul {
  margin-bottom: 0;
}
.contact-area {
  height: 100%;
  margin: 0;
}
.contact-area > span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  line-height: 40px;
}
nav.navbar {
  height: 60px;
  background: #f0f0f0;
  margin-bottom: 0;
  border: none;
}
nav.navbar .wrapper {
  height: 100%;
}
nav.navbar .navbar-header,
nav.navbar .navbar-brand {
  line-height: 60;
  height: 60px;
}
nav.navbar .navbar-toggle {
  margin: 13px 15px;
}
nav.navbar .navbar-nav {
  height: 60px;
  position: relative;
  z-index: 20;
  bottom: -2px;
}
nav.navbar .navbar-nav li {
  display: inline-block;
  height: 60px;
}
nav.navbar .navbar-nav li a {
  height: 60px;
  line-height: 58px;
  padding: 0 15px;
  color: black;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}
nav.navbar .navbar-nav li a:hover {
  color: #3330D9;
  border-bottom: 2px solid #3330D9;
  background: none;
  background: transparent;
}
nav.navbar .navbar-nav li.active a {
  color: #3330D9;
  border-bottom: 2px solid #3330D9;
  background: transparent;
}
nav.navbar .contact-area {
  float: right;
  line-height: 60px;
}
.content-body {
  position: relative;
}
.content-body .right-column {
  padding-top: 40px;
  padding-bottom: 40px;
}
.clear {
  clear: both;
}
h1 {
  font-size: 48px;
  margin-bottom: 16px;
  margin-top: 0px;
  line-height: 1.1;
}
h2 {
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 20px;
  margin-top: 0px;
}
h3 {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 0px;
}
h4 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  margin-top: 0px;
}
.left-column {
  margin-right: -420px;
  border-right: 420px solid white;
  padding: 0px 20px;
  width: 100%;
  float: left;
}
.colored {
  background: #e5e5e5;
}
article.left-column {
  padding: 60px 20px 60px 20px;
  min-height: 650px;
}
article.left-column div.lit {
  margin-bottom: 30px;
  font-size: 18px;
}
article.left-column .img {
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
}
article.left-column .main-img {
  margin-bottom: 40px;
}
article.left-column div.article-content {
  font-size: 14px;
}
.bnrs ul {
  list-style: none;
}
.bnrs ul li {
  display: inline-block;
}
.bnrs ul li:last-of-type {
  margin-right: 0;
}
.bnrs .card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
}
.bnrs .card:hover {
  color: black;
  text-decoration: none;
  background: #e5e5e5;
}
.bnrs .card .img {
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.bnrs-menu {
  margin-bottom: 40px;
}
.bnrs-menu li {
  width: 32%;
  margin-right: 1.5%;
}
.bnrs-menu .card {
  height: 128px;
  overflow: hidden;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 20px 15px;
}
.bnrs-menu .card:hover {
  background: white;
  border: 1px solid #eee;
}
.bnrs-menu .card .img {
  float: left;
  width: 78px;
  height: 78px;
}
.bnrs-menu .card .text {
  height: 100%;
  overflow: hidden;
  margin-left: -78px;
  padding-left: 98px;
  width: 100%;
  float: left;
}
.bnr-block {
  background: url('../img/bgr-brn.png') no-repeat left;
  background-size: cover;
  padding: 40px 20px;
}
.bnr-block h2 {
  color: white;
}
.bnr-block ul li {
  margin-right: 1.5%;
  width: 23.5%;
}
.bnr-block .card .img {
  width: 100%;
  height: 170px;
}
.right-column {
  width: 420px;
  float: right;
  background: white;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
}
.clr-gray {
  color: #666;
}
.note {
  font-size: 14px;
  margin-top: 12px;
}
footer {
  margin-top: 0px;
  padding: 30px 0px;
  background: #f9f9f9;
}
footer a {
  color: #3330D9;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .contact-area {
  padding-bottom: 25px;
}
footer .contact-area > span {
  font-size: 30px;
  line-height: 40px;
  vertical-align: middle;
}
footer .credits {
  color: #828282;
}
footer .credits a {
  color: #828282;
}
footer .credits a:hover {
  color: black;
}
footer .right-column {
  text-align: right;
  background: #f9f9f9;
}
footer .left-column {
  border-right-color: #f9f9f9;
}
footer .social {
  list-style: none;
  padding-bottom: 20px;
}
footer .social li {
  display: inline-block;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
section.presentation {
  text-align: center;
  background: url("../img/pres-bg.svg") no-repeat center;
  min-height: 380px;
  padding: 90px 140px 20px;
}
section.presentation h1 {
  margin-bottom: 20px;
}
section.presentation p {
  font-size: 22px;
}
section.presentation .button-big {
  margin-top: 40px;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  box-sizing: border-box;
}
.img img {
  width: 100%;
}
.img-column,
.carousel-column {
  float: left;
  width: 100%;
}
section.carousel-section .text {
  position: absolute;
  padding: 0 20px;
}
section.carousel-section .carousel-control {
  background-color: transparent;
  background-image: none;
  width: 15px;
  position: absolute;
  height: 100%;
}
section.carousel-section .carousel-control.left {
  left: 5px;
}
section.carousel-section .carousel-control.right {
  right: 5px;
}
section.carousel-section .carousel-control-next-icon,
section.carousel-section .carousel-control-prev-icon {
  width: 15px;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
section.carousel-section .carousel-indicators li {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  border: none;
}
section.carousel-section .carousel-indicators li.active {
  background: #3330D9;
}
section.carousel-section .left.carousel-control .carousel-control-prev-icon {
  background-image: url("../img/ar-left-white.svg");
}
section.carousel-section .right.carousel-control .carousel-control-next-icon {
  background-image: url("../img/ar-right-white.svg");
}
section.carousel-section.main-carousel {
  padding-bottom: 60px;
}
section.carousel-section.main-carousel .carousel {
  margin: 0 auto;
}
section.carousel-section.main-carousel .carousel-inner .item {
  padding-left: 230px;
  padding-right: 230px;
}
section.carousel-section.main-carousel .carousel-inner .item .img {
  margin-right: -230px;
  max-width: 820px;
  width: 100%;
}
section.carousel-section.main-carousel .carousel-inner .item .text {
  width: 230px;
  right: 0px;
  top: 0px;
}
section.carousel-section.main-carousel .carousel-control.left {
  left: 190px;
}
section.carousel-section.main-carousel .carousel-control.right {
  right: 190px;
}
section.carousel-section.main-carousel .carousel-indicators {
  bottom: -40px;
}
section.carousel-section.main-carousel .left.carousel-control .carousel-control-prev-icon {
  background-image: url("../img/ar-left.svg");
}
section.carousel-section.main-carousel .right.carousel-control .carousel-control-next-icon {
  background-image: url("../img/ar-right.svg");
}
.left .text {
  float: right;
}
.right .text {
  float: left;
}
section.commented-carousel {
  position: relative;
}
section.commented-carousel .carousel {
  width: 100%;
}
section.commented-carousel .text {
  position: static;
  width: 335px;
}
section.commented-carousel.left div.carousel-column {
  margin-right: -335px;
  padding-right: 335px;
  float: left;
}
section.commented-carousel.right div.carousel-column {
  float: right;
  padding-left: 335px;
  margin-left: -335px;
}
div.article-content {
  position: relative;
  float: left;
  width: 100%;
}
div.article-content.left .img-column {
  margin-right: -315px;
  padding-right: 315px;
  float: left;
}
div.article-content.right .img-column {
  float: right;
  padding-left: 315px;
  margin-left: -315px;
}
div.article-content .text {
  width: 295px;
}
div.article-content .text h1,
div.article-content .text h2,
div.article-content .text h3,
div.article-content .text h4,
div.article-content .text h5,
div.article-content .text h6 {
  font-size: 18px;
  margin-bottom: 5px;
}
div.article-content .text.wide {
  width: 100%;
  padding: 20px;
}
form.calculator h4 {
  margin-bottom: 24px;
}
form.calculator .summary {
  font-size: 30px;
  line-height: 32px;
  float: left;
  width: 100%;
  font-weight: bold;
  margin: 0;
  display: block;
}
section.calculator form {
  border: 40px solid white;
  box-sizing: border-box;
  background: white url('../img/calc-main-bg.svg') no-repeat left bottom;
  float: left;
}
section.calculator form h2 span.bordered {
  padding-bottom: 20px;
  border-bottom: 4px solid #3330D9;
  font-size: 30px;
  display: inline-block;
}
section.calculator form button.button-big {
  float: right;
}
section.calculator form > div {
  background: white;
}
.warranty-block {
  border-radius: 100%;
  background: #3330D9;
  color: white;
  padding-left: 50px;
  width: 280px;
  height: 280px;
  position: absolute;
}
.warranty-block .comment {
  position: absolute;
  height: 50%;
  width: 60%;
  top: 50%;
  left: 50%;
  margin-top: -25%;
  margin-left: -25%;
}
.warranty-block .comment > p:first-child {
  font-size: 24px;
}
.warranty-block .comment p {
  font-size: 18px;
}
section.commented-carousel.left .warranty-block {
  left: -30px;
  top: -30px;
  z-index: 20;
}
section.commented-carousel.right .warranty-block {
  right: -30px;
  top: -30px;
  z-index: 20;
}
.popup-container {
  position: absolute;
  width: 445px;
  height: 238px;
  left: 418px;
  top: 4979px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.35), 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.hide {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 900px) {
  .bnrs-menu li {
    width: 98%;
    margin: 0 1% 1.5%;
  }
  section.carousel-section.main-carousel {
    padding: 0px;
  }
  section.carousel-section.main-carousel .carousel-inner .item {
    padding: 0px;
  }
  section.carousel-section.main-carousel .carousel-inner .item .img {
    margin: 0px;
    width: 100%;
    max-height: 420px;
    min-height: 210px;
    overflow: hidden;
  }
  section.carousel-section.main-carousel .carousel-inner .item .text {
    width: 100%;
    position: static;
    padding-top: 20px;
  }
  section.carousel-section.main-carousel .carousel-control.left {
    left: 5px;
  }
  section.carousel-section.main-carousel .carousel-control.right {
    right: 5px;
  }
  section.carousel-section.main-carousel .carousel-indicators {
    top: 10px;
  }
  section.carousel-section.main-carousel .left.carousel-control .carousel-control-prev-icon {
    background-image: url("../img/ar-left-white.svg");
  }
  section.carousel-section.main-carousel .right.carousel-control .carousel-control-next-icon {
    background-image: url("../img/ar-right-white.svg");
  }
  section.presentation {
    text-align: center;
    background-image: none;
    padding: 40px;
  }
  section.commented-carousel {
    position: relative;
    padding: 20px 0;
  }
  section.commented-carousel .carousel-column {
    float: left;
    width: 100%;
    margin: 0px 0 20px 0 !important;
    padding: 0px !important;
  }
  section.commented-carousel .carousel {
    width: 100%;
  }
  section.commented-carousel .text {
    position: static;
    width: 100%;
    float: left;
  }
  section.calculator {
    padding: 20px 0 0px;
  }
  section.calculator form {
    background-image: none;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .warranty-block {
    width: 200px;
    height: 200px;
  }
  .warranty-block .comment {
    height: 60%;
    margin-top: -30%;
  }
  .warranty-block .comment .main {
    font-size: 16px;
  }
  .warranty-block .comment p {
    font-size: 14px;
  }
}
@media (max-width: 1100px) {
  .left-column {
    margin-right: -280px;
    border-right-width: 280px;
  }
  .left-column .col-12 {
    margin-bottom: 15px;
  }
  .right-column {
    width: 280px;
  }
  .bnr-block ul li {
    margin: 1%;
    width: 98%;
  }
}
@media (max-width: 768px) {
  section.calculator form > div {
    margin-bottom: 20px;
  }
  .warranty-block {
    position: static;
    margin: 20px auto;
  }
  .left-column,
  article.left-column {
    border-right: 0;
    margin-right: 0;
    width: 100%;
    float: none;
  }
  article.left-column {
    padding-top: 20px;
  }
  .right-column {
    width: 100%;
    float: none;
    padding: 0 20px;
  }
  footer {
    padding-top: 40px;
  }
  footer .right-column {
    text-align: left;
    margin-top: 20px;
  }
  nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }
  .content-body {
    margin-top: 60px;
  }
  #navcol {
    position: fixed;
    z-index: 20;
    width: 100%;
    padding: 0;
    top: 60px;
    bottom: 0;
    background: #e5e5e5;
  }
  #navcol ul {
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    height: auto;
    background: white;
  }
  #navcol ul li {
    width: 100%;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
    line-height: 40px;
    float: left;
  }
  #navcol ul li.active a {
    border-bottom: none;
    border-left: 2px solid #3330D9;
    background: white;
  }
  #navcol ul li a {
    line-height: 60px;
    height: 60px;
    padding: 0 0 0 20px;
  }
  #navcol ul li a:hover {
    border-left: 2px solid #3330D9;
    border-bottom: none;
  }
  #navcol .sm-contact {
    padding: 32px 20px;
    float: left;
    width: 100%;
    margin: 0;
  }
  #navcol .sm-contact p.phone {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  #navcol .sm-contact > div {
    padding: 0 0 0 0;
    margin-bottom: 16px;
  }
  #navcol .sm-contact a.button {
    margin-top: 16px;
  }
}
.modal-content {
  padding: 30px;
}
.modal-content h2 {
  padding-bottom: 30px;
}
.modal-content .modal-header {
  padding: 0;
  border: 0px;
}
.modal-content .modal-body {
  padding: 0;
}
.modal-content .modal-footer {
  border: none;
  padding: 0;
  text-align: left;
}
.modal-content .modal-footer button {
  margin-right: 16px;
}
.modal-dialog form {
  width: 445px;
}
.modal-dialog form label {
  color: #828282;
}
.button {
  box-sizing: border-box;
  padding: 0 16px;
  border: 1px solid transparent;
  font-size: 16px;
  display: inline-block;
}
.button:hover {
  text-decoration: none;
}
.button:active {
  text-decoration: none;
}
.button-checker {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.08);
  line-height: 32px;
  height: 32px;
  display: block;
}
.button-checker.active,
.button-checker:hover {
  background-color: #3330D9;
  color: white;
}
.button-outline-red {
  border-radius: 5px;
  background: transparent;
  color: #DB1853;
  border: 1px solid rgba(219, 24, 83, 0.3);
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}
.button-outline-red:hover {
  background: #DB1853;
  color: white;
}
.button-big {
  border-radius: 5px;
  background: #DB1853;
  color: white;
  height: 48px;
  line-height: 48px;
  margin-top: 16px;
}
.button-big:hover {
  background: #ad1342;
  color: white;
}
.button-cancel {
  border-radius: 5px;
  background: white;
  border: 1px solid #CED4DA;
  color: #000;
  height: 48px;
  line-height: 48px;
  margin-top: 16px;
}
.button-cancel:hover {
  background: #e6e6e6;
}
.slider.slider-horizontal {
  height: 3px;
  width: 100%;
}
.slider.slider-horizontal .selected {
  color: #3330D9;
}
.slider.slider-horizontal .controller {
  border-radius: 100%;
  background-color: #3330D9;
}
.check-buttons {
  list-style: none;
  margin-bottom: 24px;
}
.check-buttons li {
  display: inline-block;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  line-height: 30px;
}
.check-button-imaged {
  width: 100%;
  float: left;
}
.check-button-imaged > div:first-of-type {
  margin-right: -122px;
  padding-right: 122px;
  float: left;
  box-sizing: border-box;
  width: 100%;
}
.check-button-imaged ul.check-buttons {
  overflow: hidden;
  margin-bottom: 20px;
}
.check-button-imaged ul.check-buttons li {
  width: 48%;
  float: left;
}
.check-button-imaged ul.check-buttons li button {
  width: 100%;
  padding: 0px;
}
.check-button-imaged ul.check-buttons li:nth-of-type(2n) {
  margin-right: 0;
}
.check-button-imaged .img-for-option {
  width: 122px;
  height: 122px;
  float: left;
}
label {
  font-size: 16px;
  font-weight: normal;
  height: 21px;
  line-height: 21px;
  display: block;
}
.bold {
  font-weight: bold;
}
input[type='text'],
select {
  border-radius: 4px;
  line-height: 40px;
  height: 40px;
  padding: 0 16px;
  display: block;
  border: 1px solid #CED4DA;
  width: 100%;
  margin-bottom: 15px;
}
textarea.form-control {
  border-radius: 4px;
  height: 121px;
  width: 100%;
  border: 1px solid #CED4DA;
}
form > div *:last-child {
  margin-bottom: 0px;
}
form .slider-group {
  height: 61px;
  margin-bottom: 19px;
}
form .slider-group p.info {
  font-size: 16px;
  line-height: 21px;
  height: 21px;
}
form .slider-group p.info > * {
  display: inline-block;
  width: 50%;
  margin-right: -0.3em;
}
form .slider-group p.info label {
  color: #828282;
  font-size: 16px;
}
form .slider-group p.info span.selected-value {
  color: black;
  font-size: 16px;
  text-align: right;
}
form .slider-group p.info span.unit {
  display: inline-block;
}
form .slider.slider-horizontal {
  height: 16px;
  margin-top: 10px;
  margin-bottom: 25px;
  width: 100%;
}
form .slider.slider-horizontal .slider-track {
  background-color: rgba(0, 0, 0, 0.08);
  height: 3px;
  margin-top: -1px;
}
form .slider.slider-horizontal .slider-track .slider-selection {
  background: #3330D9;
}
form .slider.slider-horizontal .slider-handle {
  background: #3330D9;
  width: 16px;
  height: 16px;
}
@media (min-width: 768px) and (max-width: 1100px) {
  ul.check-buttons li {
    width: 100%;
  }
}
@media (max-width: 768px) {
  ul.check-buttons li {
    height: 44px;
  }
  ul.check-buttons .button {
    font-size: 14px;
    line-height: 44px;
    height: 44px;
  }
}
