@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

#tinymce *{
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#tinymce p {
    color: #333;
    line-height: 1.45;
    text-align: left!important;
}

#tinymce img {
    width: 100%;
    height: auto;
}
#tinymce h2 {
    font-weight: 400;
    font-size: 22px;
}

#tinymce h6 {
    width: 100%;
    height: auto;
}

#tinymce h6 {
    text-align: left !important;
    font-size: 14px !important;
    color: #707070 !important;
    margin-bottom: 16px !important;
    margin-top: 10px !important;
    font-weight: 400 !important;
}

#tinymce p, #tinymce ul, #tinymce a {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Merriweather', serif;

}