* {
    font-family: 'Roboto', sans-serif;
}

.article-clean p, .article-clean li, .article-clean p a, .article-clean li a, .article-clean p span, .article-clean li span {
    font-family: 'Merriweather', serif;
}

body {
    background-color: white;
}

.navbar-light {
    box-shadow: inset 0px -1px 0px #E8E8E8;
    padding: 0;
}

.navbar-light .navbar-brand {
    font-weight: 400;
}

.navbar-light a.navbar-brand:hover {
    color: #3BAEEC;
    text-decoration: none;
}

.nav.navbar-nav.ml-auto {
    float: right;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean {
    padding: 0;
}

.nav-item {
    /*height:57px;*/
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav > li > a.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show .nav-link {
    /*height:57px;*/
    /*line-height:57px;*/
    padding: 18px;
    color: #008BD9 !important;
    box-sizing: content-box;
}

.navbar-nav li a.nav-link {

}

.navbar-light .navbar-nav li.active a {
    border-bottom: 2px solid #008BD9;
    cursor: default;
    color: #008BD9 !important;
}

.navbar-light .navbar-nav > li.active a.nav-link:hover {
    color: #008BD9 !important;
}

.navbar-light .navbar-brand {
    color: #333;
    font-size: 16px;
    line-height: 18px;

    padding: 18px;
    height: 100%;
}

.navbar-light .navbar-brand img {
    height: 18px;
    display: inline-block;
    margin-right: 10px;
}

.article-clean {
    padding-top: 140px;
}

.article-clean h1 {
    font-size: 28px;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.article-clean img {
    width: 100%;
    height: auto;
}

.article-clean h6 {
    text-align: left !important;

    font-size: 14px !important;
    color: #707070 !important;
    margin-bottom: 32px !important;
    margin-top: 16px !important;
    font-weight: 400 !important;
    line-height: normal;
}

.figure-img {
    width: 100%;
    height: auto;
}

.footer-clean h3 {
    font-weight: 500;
    font-size: 14px;
}

.article-clean {
    margin-bottom: 25px;
}

.article-clean p, .article-clean h1, .article-clean h2, .article-clean h6 {
    text-align: left !important;

}

.article-clean .text p, .article-clean .text ul, .article-clean .text ul li {
    color: #333;

}

.article-clean .text p, .article-clean .text ul, .article-clean .text a {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;

}

.article-clean a {
    color: #008BD9;

}

.article-clean a:hover {
    color: #3BAEEC;
    text-decoration: none;
}

.article-clean ul {
    list-style: none;
}

.article-clean ul li {
    position: relative;
    padding-left: 15px;
    line-height: 28px;
}

.article-clean ul li::before {
    background: #008BD9;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 4px;
    content: " ";
}

.article-clean ul.team li::before {

    content: none;
}

.team li .caption {
    margin-top: 16px;
    margin-bottom: 32px;
}
.team li .caption p{
    font-family: 'Roboto', sans-serif;

}

.article-clean figure {
    margin-bottom: 18px;
}

.article-clean.list .intro {
    margin-bottom: 60px;
}

.article-clean h1 {
    color: #333!important;
    font-size: 28px!important;
    line-height: 41px!important;
    text-align: left !important;
    margin-bottom: 15px!important;
    margin-top: 0!important;
    font-weight: 500!important;

}

.article-clean .text h2 {
    font-weight: 400;
    font-size: 22px;
}

.article-clean .intro h1 a {
    color: #008BD9;
    font-size: 28px;
    line-height: 41px;
    text-align: left;
    margin-top: 0;

}

.article-clean .intro h1 a:hover {
    color: #3BAEEC;
    text-decoration: none;
}

.article-clean .text h2 {
    color: #333;
    font-size: 22px;
    line-height: 30px;
    text-align: left !important;
    margin-bottom: 15px;
    margin-top: 0;

}

.article-clean .intro p {
    color: #333;
    font-size: 18px;
    line-height: 1.45;
}

.article-clean .intro .article-photo {
    width: 100%;
    max-width: 750px;
    height: auto;
}

.article-clean .intro .img-fluid {
    margin-top: 0;
    width: 100%;
    height: auto;
}

.article-clean ul {
    padding-left: 0;
    margin-left: 20px;
}

.article-clean ul.files li {
    padding-left: 25px;
    line-height: 28px;
}

.article-clean ul.files li span {
    border-radius: 0;
    background: white url("../img/doc.svg");
    width: 15px;
    height: 19px;
    position: absolute;
    left: 0;
    top: 5px;
}

.footer-clean {
    box-shadow: inset 0 1px 0 #E8E8E8;
    padding: 25px 0;
}

.article-clean p.info, .article-clean p.info span {
    font-family: 'Roboto', sans-serif;
}

.article-clean p.info {
    font-size: 14px;
    color: #707070;
    margin-top: 15px;

}

.article-clean p.info .date {
    text-transform: none;
    padding-right: 10px;
    border: none;
    padding-left: 0;
    margin-left: 0;
}
.article-clean .intro p.info{
    margin-top: 16px;
    margin-bottom: 32px;
}
footer .container .container {
    padding-left: 0;
}
.footer-clean {
    font-size: 14px;
}
.footer-clean .container .row div {
    padding-right: 0;
}

.footer-clean ul a {
    color: #008BD9;

}

.footer-clean ul a:hover {
    color: #3BAEEC;

}

.footer-item {
    float: left;
}

.item-big {
    width: 64%;
    margin-right: 6%;
}

.item-sm {
    width: 15%;
}

.navbar-brand {
    padding: 15px;
}

@media all and (max-width: 1200px) {
    .article-clean ul.team li {
        width: 100%;
    }

    .team li .photo {

    }

    .team li .photo {

    }

    .item-big {
        width: 100%;
        margin-bottom: 20px;

    }

    .item-sm {
        width: 50%;
    }

    .navigation-clean .navbar-toggler {
        position: absolute;
        right: 20px;
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {

    }

    .navbar > .container {
        position: relative;
    }
}

@media all and (max-width: 568px) {
    .navigation-clean .navbar-collapse, .navigation-clean .form-inline {
        border: none;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;

        float: left;
    }

    .navbar {
        padding-left: 0;
        padding-right: 0;
        box-sizing: border-box;
    }

    .nav {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
        margin-top: 0;
    }

    .nav li {
        display: block;
        background: white;
    }

    .nav li.active a {
        border-left: 2px solid #008BD9;
        border-bottom: 0;
    }

}

.article-clean ul.pagination li:before {
    content: none;

}

.article-clean ul.pagination {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0;

}

.article-clean ul.pagination li {
    display: none;
    padding: 0;
}

.article-clean ul.pagination li.disabled {
    display: none !important;
}

.article-clean ul.pagination li.prev a,
.article-clean ul.pagination li.next a {
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 999px;
    font-size: 16px;

}

.article-clean ul.pagination li.prev {
    display: block;
    position: absolute;
    left: 0px;
}

.article-clean ul.pagination li.next {
    display: block;
    position: absolute;
    right: 0px;
}

.cms-link {
    position: fixed;
    right: 0;
    top: 80px;
    background: #eee;
    padding: 15px;
}

.cms-link a {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.square {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1900;

}

.square a {
    display: block;
    height: 100%;
    width: 100%;
}